<mat-card-header>
    <mat-card-title>Personal Website and Independent Projects</mat-card-title>
    <mat-card-subtitle>Saba Kalandadze</mat-card-subtitle>
</mat-card-header>
<hr>
<br>
<mat-card-content>
    <p>
        Hi, my name is Saba Kalandadze. I am currently an undergraduate CS student at Drexel university.
        This website showcases my skills as a Web Developer as well as host interesting side projects that
        I am currently working on. Everything here is done in Angular V6 / Typescript.
    </p>
    <p><b>Source Code:</b> </p>
    <ul>
        <li>
        <a target="_blank" rel="noopener" href="https://github.com/saba-kal/saba-site">Github</a>
        </li>
    </ul>
    <p><b>My Profile:</b> </p>
    <ul>
        <li>
        <a target="_blank" rel="noopener" href="www.linkedin.com/in/saba-k-b45067106">LinkedIn</a>
        </li>
    </ul>
</mat-card-content>