.square{
    height: 50px;
    width: 50px;
}

.red-square{
    background-color: red;
}

.available-to-move{
    background-color: yellow;
}

.game-piece{
    margin-top: 5px;
    margin-left: 5px;
    cursor: pointer;
}