.header{
	display: flex;
}

.content{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.row{
	display: flex;
}

.square{
	height: 50px;
	width: 50px;
}

.red-square{
	background-color: red;
}

.available-to-move{
	background-color: yellow;
	cursor: pointer;
}

.can-be-moved {
	outline: solid green;
	outline-offset: -2px;
	cursor: pointer;
}

.game-piece{
	margin-top: 5px;
	margin-left: 5px;
}