
<div fxLayout="row" fxLayoutGap="20px">

    <!--Board-->
    <div fxLayout="column" class="game-board">
        <div fxLayout="row" fxFlex="100%" *ngFor="let row of gameBoard; let i=index">
            <div 
            fxFlex="100%" 
            *ngFor="let cell of row; let j=index" 
            (click)="onCellClick(i,j)"
            [ngClass]="{'grid-cell':true, 'winning-cell': cell.winner}">
                <mat-icon class="game-icon" *ngIf="cell.symbol == gameSymbol.O">panorama_fish_eye</mat-icon>
                <mat-icon class="game-icon" *ngIf="cell.symbol == gameSymbol.X">close</mat-icon>
                <mat-icon class="game-icon" *ngIf="cell.symbol == gameSymbol.EMPTY"></mat-icon>
            </div>
        </div>
        <span class="block-grid" *ngIf="lockBoard"></span>
    </div>
    
    <!-- Right side -->
    <div>
        <h2 *ngIf="lockBoard">Game over. Reset board to continue</h2>
    </div>

</div>

<br>

<div style="text-align: center">
    <button mat-button (click)="resetBoard()">Reset Board</button>
</div>
