
<header style="text-align: center">
    <h3>Tic Tac Toe AI</h3>
    <p>Implemented using the minimax algorithm</p>
</header>

<hr>

<div fxLayout="column" fxLayoutGap="20px">

    <!-- Game message-->
    <p style="text-align: center">{{message}}</p>

    <div fxLayout="row">
        <!-- Empty sidebar used to center board -->
        <div fxFlex.lt-md="50%"></div>
        <!-- Board -->
        <div fxFlex="200px" fxLayout="column" class="game-board">
            <div fxLayout="row" fxFlex="100%" *ngFor="let row of gameBoard; let i=index">
                <div 
                fxFlex="100%" 
                *ngFor="let cell of row; let j=index" 
                (click)="onCellClick(i,j)"
                [ngClass]="{'grid-cell':true, 'winning-cell': cell.winner}">
                    <mat-icon class="game-icon" *ngIf="cell.symbol == gameSymbol.O">panorama_fish_eye</mat-icon>
                    <mat-icon class="game-icon" *ngIf="cell.symbol == gameSymbol.X">close</mat-icon>
                    <mat-icon class="game-icon" *ngIf="cell.symbol == gameSymbol.EMPTY"></mat-icon>
                </div>
            </div>
            <span class="block-grid" *ngIf="lockBoard"></span>
        </div>
        <!-- Empty sidebar used to center board -->
        <div fxFlex.lt-md="50%"></div>
    </div>

    <!-- Reset Button-->
    <div style="text-align: center">
        <button mat-raised-button (click)="resetBoard()" color="accent">Reset Board</button>
    </div>

</div>

<hr>

<!-- Game info -->
<h3>Info</h3>
<p>
    The AI for this game uses the minimax algorithm. The implementation of it on this website is largely based on
    a guide found <a target="_blank" rel="noopener" href="https://www.geeksforgeeks.org/minimax-algorithm-in-game-theory-set-3-tic-tac-toe-ai-finding-optimal-move/">here</a>.
    It is not a very elegant solution, as it pretty much brute forces its way to victory by checking all possible outcomes.
    However, it is perfectly feasible for a simple game like Tic-Tac-Toe.
</p>