<header class="header">

	<div class="header-bar">
		<div class="icons">
			<a href="https://github.com/saba-kal" target="_blank">
				<fa-icon [icon]="faGithub"></fa-icon>
			</a>
			<a href="https://www.linkedin.com/in/saba-k/" target="_blank">
				<fa-icon [icon]="faLinkedin"></fa-icon>
			</a>
		</div>
	</div>

	<div class="header-content">
		<div class="title-container">
			<h1 class="title">Saba Kalandadze</h1>
			<div class="sub-title">Student <b>·</b> Web Developer <b>·</b> Hobbyist Game Developer</div>
		</div>

		<div class="navigation-bar">
			<a class="nav-bar-item animated-underline" [routerLink]="['/about']" routerLinkActive="active">
				About
			</a>
			<a class="nav-bar-item animated-underline" [routerLink]="['/mini-games']" routerLinkActive="active">
				Mini-games
			</a>
			<a class="nav-bar-item animated-underline" [routerLink]="['/unity']" routerLinkActive="active">
				Unity
			</a>
		</div>
	</div>

</header>

<div class="content-container">

	<main class="content">
		<router-outlet></router-outlet>
	</main>

</div>