<div class="header-container">
	<div class="header">
		<div class="title-container">
			<h1 class="title">SABA KALANDADZE</h1>
			<div class="sub-title">Student <b>·</b> Web Developer <b>·</b> Hobbyist Game Developer</div>
		</div>

		<div class="navigation-bar">
			<a class="navigation-bar-item" [routerLink]="['/about']" routerLinkActive="active">ABOUT</a>
			<a class="navigation-bar-item" [routerLink]="['/projects']" routerLinkActive="active">PROJECTS</a>
			<a class="navigation-bar-item" [routerLink]="['/unity']" routerLinkActive="active">UNITY</a>
		</div>
	</div>

	<div class="icons">
		<fa-icon [icon]="faGithub"></fa-icon>
	</div>
</div>
<div class="content">
	<router-outlet></router-outlet>
</div>