.header-container{
	background-color: #222;
	padding: 20px 210px 20px 210px;
	margin: -10px -10px 0px -10px;
	display: flex;
	justify-content: space-between;
}

.header{
	display: flex;
	align-items: center;
	justify-content: center;
}

.title-container{
	min-width: 420px;
}

.title{
	margin: 0px;
	text-align: justify;
	font-weight: lighter;
	letter-spacing: 5.2px;
}

.navigation-bar{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-left: 80px;
}

.navigation-bar-item{
	padding: 0px 10px 0px 10px;
	margin: 0px 10px 0px 10px;
	text-decoration: none;
	color: inherit;
}

.icons{
	margin-right: -190px;
}

.content{
	margin: 20px 200px 0px 200px;
	line-height: 2em;
	text-align: justify;
}