<!--Topbar-->
<mat-toolbar color="primary">
  <button (click)="sidenavOpened = !sidenavOpened" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <h2>Welcome to {{ title }}</h2>
</mat-toolbar>

<mat-sidenav-container>

  <!-- Sidenav menu-->
  <mat-sidenav mode="side" [(opened)]="sidenavOpened">
    <mat-nav-list>
      <a mat-list-item routerLink="about">About</a>
      <a mat-list-item routerLink="tic-tac-toe">Tic-Tac-Toe AI</a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- App content. Displayed through router outlet-->
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>